.list-wrapper {
  box-sizing: border-box;
  display: inline-block;
  height: 100%;
  margin: 0 5px;
  vertical-align: top;
  white-space: nowrap;
  width: 100%;
  border: 3px solid black;
  margin-top: 20px;

  ul {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.list-heading {
  padding: 0px, 16px, 0px, 16px;
  padding-bottom: 0px;
  display: flex;
  justify-content: space-evenly;
  text-align: center;
}

.list-header {
  flex: 0 0 auto;
  text-align: center;
  min-height: 20px;
  padding: 10px 8px;
  position: relative;
  background-color: red;
}

.list-item {
  padding-top: 15px;
}

.driver-col {
  display: flex;
}
